@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}
#login-forms {
	background:#205B25;
	color:color=#205B25;
	margin:5% auto;
	max-width:500px;
}
/* home page */
#wrappert{
	padding-top:50px;
}
